<div class="card" ng-repeat="event in vm.todaysEventsRandomized">
    <div class="img-wrapper" style="background-image: url(https://cdn.presence.io/eventphotos/{{event.photoUri}})"></div>
    <div class="card-header ch-alt">
        <h2 style="color: {{vm.designDetails.backgroundColor}}">{{event.eventName}}</h2>
        <h3>{{event.organizationName}}</h3>
    </div>
    <div class="card-body card-padding">
        <div class="event-description">
            {{event.description}}                             
        </div>
        <div class="event-location-date" style="color: {{vm.designDetails.backgroundColor}}">
            <i class="md md-location-on"></i> {{event.location}} ending at {{event.endDateTimeUtc}}
        </div>
    </div>
</div>