<div class="tv-background" style="background-image:url({{vm.designDetails.coverPhotoLink}})"></div>
<div class="background-black"></div>
<div class="tv animated fadeIn">

    <!-- Vertical event list -->
    <div class="event-list pull-left"> 
        <div class="background" style="background-image:url({{vm.designDetails.coverPhotoLink}})"></div>
        <div class="background-black"></div>
        <ul class="list" ng-if="!!vm.eventList">
            <li class="slide" ng-class="{'active': $index >= 0 && $index <= 7}" ng-repeat="event in vm.eventList | orderBy: 'startDateTimeUtc'">
                <h2 class="pull-left">{{event.startDateTimeUtc |date:'dd'}}</h2>
                <div class="pull-left">
                    <h3>{{event.eventName}}</h3>
                    <span>{{event.location}}</span>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>

    <!-- Slider -->
    <div class="event-tiles pull-right">
        <div class="now pull-left">
            <!-- if there are no events today, display first event -->
            <div ng-if="!vm.topFiveToday.length  && vm.eventList.length">
                <h1>Coming Up</h1>
                <div class="card not-slider">
                    <div class="img-wrapper" style="background-image: url(https://cdn.presence.io/eventphotos/{{vm.eventList[0].photoUri}})"></div>
                    <div class="card-header ch-alt">
                        <h2 style="color: {{vm.designDetails.backgroundColor}}">{{vm.eventList[0].eventName}}</h2>
                        <h3>{{vm.eventList[0].organizationName}}</h3>
                    </div>
                    <div class="card-body card-padding">
                        <div class="event-description">
                            {{vm.eventList[0].description}}                             
                        </div>
                        <div class="event-location-date" style="color: {{vm.designDetails.backgroundColor}}">
                            <i class="md md-location-on"></i> {{vm.eventList[0].location}} on {{vm.eventList[0].startDateTimeUtc| date: 'EEE MMM dd, yyyy'}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- if there are multiple events today; slider intitated -->
            <div ng-if="!!vm.topFiveToday.length && vm.topFiveToday.length >= 2 && vm.eventList.length">
                <h1>Happening Today</h1>
                <ul id="slider-left">
                    <li class="slide" ng-class="{'active': $index == 0}" ng-repeat="event in vm.topFiveToday track by $index">
                        <div class="card">
                            <div class="img-wrapper" style="background-image: url(https://cdn.presence.io/eventphotos/{{event.photoUri}})"></div>
                            <div class="card-header ch-alt">
                                <h2 style="color: {{vm.designDetails.backgroundColor}}">{{event.eventName}}</h2>
                                <h3>{{event.organizationName}}</h3>
                            </div>
                            <div class="card-body card-padding">
                                <div class="event-description">
                                    {{event.description}}                             
                                </div>
                                <div class="event-location-date" style="color: {{vm.designDetails.backgroundColor}}">
                                    <i class="md md-location-on"></i> {{event.location}} from {{event.startDateTimeUtc |date: 'shortTime'}} to {{event.endDateTimeUtc |date: 'shortTime'}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- if there is only one event today; slider not initiated -->
            <div ng-if="!!vm.topFiveToday.length && vm.topFiveToday.length < 2 && vm.eventList.length">
                <h1>Happening Today</h1>
                <div class="card not-slider">
                    <div class="img-wrapper" style="background-image: url(https://cdn.presence.io/eventphotos/{{vm.topFiveToday[0].photoUri}})"></div>
                    <div class="card-header ch-alt">
                        <h2 style="color: {{vm.designDetails.backgroundColor}}">{{vm.topFiveToday[0].eventName}}</h2>
                        <h3>{{vm.topFiveToday[0].organizationName}}</h3>
                    </div>
                    <div class="card-body card-padding">
                        <div class="event-description">
                            {{vm.topFiveToday[0].description}}                             
                        </div>
                        <div class="event-location-date" style="color: {{vm.designDetails.backgroundColor}}">
                            <i class="md md-location-on"></i> {{vm.topFiveToday[0].location}} from {{vm.topFiveToday[0].startDateTimeUtc |date: 'h:mm a'}} to {{vm.topFiveToday[0].endDateTimeUtc |date: 'h:mm a'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- This Week/ Coming Up Tiles -->
        <div class="later pull-left">
            <!-- if there are more than three events happening this week -->
            <div ng-if="!!vm.topFourThisWeek && vm.topFourThisWeek.length >= 2 && vm.eventList.length">
                <div>
                    <h1>This Week</h1>
                </div>
                <div class="random-four">
                    <div class="card pull-left" ng-repeat="event in vm.topFourThisWeek">
                        <div ng-show="event.hasCoverImage" class="img-wrapper" style="background-image: url(https://cdn.presence.io/eventphotos/{{event.photoUri}})"></div>
                        <div ng-hide="event.hasCoverImage" class="img-wrapper no-image" style="background-image:url({{vm.designDetails.coverPhotoLink}})">
                            <div class="text-wrapper">
                                <h2>{{event.eventName}}</h2>
                            </div>
                        </div>
                        <div class="card-body card-padding">
                            <h2 style="color: {{vm.designDetails.backgroundColor}}">{{event.eventName}}</h2>
                            <div class="date-time">
                                {{event.startDateTimeUtc| date: 'EEE MMM dd, yyyy'}}
                            </div>
                            <div class="location" style="color: {{vm.designDetails.backgroundColor}}">
                                <i class="md md-location-on"></i> {{event.location}}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>   
            </div>

            <!-- if there are less than three events hapening this week; display first four events -->
            <div ng-if="!vm.topFourThisWeek || vm.topFourThisWeek.length < 2 && vm.eventList.length">
                <div>
                    <h1>Later</h1>
                </div>
                <div class="random-four">
                    <div class="card pull-left" ng-repeat="event in vm.eventList | limitTo: 4 : 1" ng-if="vm.eventList.length">
                        <div ng-show="event.hasCoverImage" class="img-wrapper" style="background-image: url(https://cdn.presence.io/eventphotos/{{event.photoUri}})"></div>
                        <div ng-hide="event.hasCoverImage" class="img-wrapper no-image" style="background-image:url({{vm.designDetails.coverPhotoLink}})">
                            <div class="text-wrapper">
                                <h2>{{event.eventName}}</h2>
                            </div>
                        </div>
                        <div class="card-body card-padding">
                            <h2 style="color: {{vm.designDetails.backgroundColor}}">{{event.eventName}}</h2>
                            <div class="date-time">
                                {{event.startDateTimeUtc| date: 'EEE MMM dd, yyyy'}}
                            </div>
                            <div class="location" style="color: {{vm.designDetails.backgroundColor}}">
                                <i class="md md-location-on"></i> {{event.location}}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>   
            </div>

            <!-- QR Codes and phone with logo -->
            <div class="app-ad" ng-show=" vm.eventList.length">
                <div class="download-text"></div>
                <div class="phone">
                    <div class="bg-img" style="background-image:url({{vm.designDetails.coverPhotoLink}})">
                        <div class="logo" style="background-image:url({{vm.designDetails.logoPhotoLink}}); background-color: {{vm.designDetails.navBarColor}};"></div>
                    </div>
                </div>
                <div class="qr-codes">
                    <div class="ios">
                        <div class="qr"><div id="qrcode-ios"></div></div>
                        <div class="store-img"></div>
                    </div>
                    <div class="android">
                        <div class="qr"><div id="qrcode-and"></div></div>
                        <div class="store-img"></div>                        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>